@page "/algebraicExpressions"

<h2>Алгебраические выражения</h2>

<p>
    Алгебра работает с <strong>алгебраическими выражениями</strong>.
    К ним относят числовые выражения и буквенные выражения.
</p>

<div class="info">
    <div class="info-header">Определение</div>
    <div class="info-content">
        <p>
            <strong>Числовое выражение</strong> — это запись, состоящая из чисел,
            знаков арифметических действий, скобок. Важно, чтобы эта запись имела смысл.
        </p>
    </div>
</div>

<p>Не путайте числовые выражения и числовые равенства.</p>

<p><strong>Числовое равенство</strong>— это два числовых выражения, соединенных знаком ”=”.</p>

<p>
    Числовые равенства могут быть <strong><em>верными</em></strong>,
    когда левая часть равенства равна правой, и <strong><em>неверными</em></strong>,
    когда левая часть правой не равна.
</p>

@code {

}
