<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Меню</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item pb-3 px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> На главную
            </NavLink>
        </div>
        <div class="nav-item pb-3 px-1">
            <NavLink class="nav-link p-0" @onclick="() => expandSubNav = !expandSubNav">
                <span class="oi oi-plus" aria-hidden="true"></span> Алгебраические выражения
            </NavLink>
        </div>
        
        @if (expandSubNav)
        {
            <div class="nav-item pb-3 px-1">
                <NavLink class="nav-link p-0" href="algebraicExpressions">
                    <span class="oi oi-book" aria-hidden="true"></span> Алгебраические выражения
                </NavLink>
            </div>
            <div class="nav-item pb-3 px-1">
                <NavLink class="nav-link" href="polynomials">
                    <span class="oi oi-book" aria-hidden="true"></span> Многочлены
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool expandSubNav;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
